{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'dashboard.title'|trans %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <h3 class="mt-3">{{ 'dashboard.how_it_works.title'|trans }}</h3>

    <p>{{ 'dashboard.how_it_works.intro'|trans }}</p>
    <p>{{ 'dashboard.how_it_works.how_to'|trans }}</p>
    <p>{{ 'dashboard.how_it_works.backups'|trans|raw }}</p>
    <p>{{ 'dashboard.how_it_works.docs'|trans({ '%docs_link%': 'https://github.com/bastien70/dbsaver' })|raw }}</p>

    <h3 class="mt-5">{{ 'dashboard.author.title'|trans }}</h3>
    <p>{{ 'dashboard.author.description'|trans({ '%author%': 'Bastien LOUGHIN' })|raw }}</p>

    <ul>
        <li><a href="https://www.linkedin.com/in/bastien-loughin/">Linkedin</a></li>
        <li><a href="https://github.com/bastien70">Github</a></li>
        <li><a target="_blank" href="https://bastien-loughin.fr">{{ 'dashboard.author.website'|trans }}</a></li>
    </ul>
{% endblock %}
