{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'user.settings.title'|trans %}
{% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-12 col-md-4">
            <h3>{{ 'user.settings.form_title'|trans }}</h3>

            {{ form_start(form) }}
                {{ form_row(form.locale) }}
                {{ form_row(form.currentPassword) }}
                {{ form_row(form.newPassword) }}
                {{ form_row(form.receiveAutomaticEmails) }}

                <p>
                    <button type="submit" class="btn btn-primary" name="_submit">
                        <i class="fas fa-fw fa-check"></i>
                        {{ 'user.settings.submit'|trans }}
                    </button>
                </p>
            {{ form_end(form) }}
        </div>
        <div class="col-12 col-md-4">
            <h3 class="mb-4">{{ 'user.settings.2fa.title'|trans }}</h3>

            {% if app.user.totpAuthenticationEnabled %}
                <a href="{{ ea_url().setRoute('app_user_disable_2fa') }}" class="btn btn-outline-danger">
                    <i class="fas fa-fw fa-lock-open"></i>
                    {{ 'user.settings.2fa.disable'|trans }}
                </a>
            {% else %}
                <a href="{{ ea_url().setRoute('app_user_enable_2fa') }}" class="btn btn-outline-primary">
                    <i class="fas fa-fw fa-lock"></i>
                    {{ 'user.settings.2fa.enable'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
